<div style="display: flex; flex-direction: column;">
  <div class="card-list-demo-content" *ngIf="!cardView  && !inverseLayout">
    <eikos-card-list [items]="items" [title]="'Card List - List View'" [listHeight]="450" [multiSelect]="true"
      (itemSelected)="logItemSelected($event)">
      <ng-template let-item="item">
        <div class="card-list-item">
          <div class="card-list-cell symbol-cell">
            <div class="symbol-status">
              <div class="symbol">{{ item.symbol }}</div>
              <div class="status">
                {{
                  item.fill_quantity === item.order_quantity
                    ? "Filled"
                    : "Open"
                }}
              </div>
            </div>
          </div>
          <div class="card-list-cell order-price-cell">
            <div class="label">Order Price</div>
            <div class="value">{{ item.order_price | currency }}</div>
          </div>
          <div class="card-list-cell order-quantity-cell">
            <div class="label">Order Qty</div>
            <div class="value">{{ item.order_quantity }}</div>
          </div>
          <div class="card-list-cell fill-quantity-cell">
            <div class="label">Fill Qty</div>
            <div class="value">{{ item.fill_quantity }}</div>
          </div>
          <div class="card-list-cell">
            <div class="progress-bar">
              <div class="progress-container">
                <div class="progress-fill" [ngStyle]="{
                    width:
                      item.fill_quantity / item.order_quantity | percent
                  }">
                  <div class="progress-label">
                    <strong>{{
                      item.fill_quantity / item.order_quantity | percent
                    }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </eikos-card-list>
  </div>

  <div class="card-list-demo-content" *ngIf="!cardView  && inverseLayout">
    <eikos-card-list [items]="items" [title]="'Card List - Inverse List'" [listHeight]="450" [inverseLayout]="true"
      [multiSelect]="true" (itemSelected)="logItemSelected($event)">
      <ng-template let-item="item">
        <div class="card-list-item">
          <div class="card-list-cell symbol-cell">
            <div class="symbol-status">
              <div class="symbol">{{ item.symbol }}</div>
              <div class="status">
                {{
                  item.fill_quantity === item.order_quantity
                    ? "Filled"
                    : "Open"
                }}
              </div>
            </div>
          </div>
          <div class="card-list-cell order-price-cell">
            <div class="label">Order Price</div>
            <div class="value">{{ item.order_price | currency }}</div>
          </div>
          <div class="card-list-cell order-quantity-cell">
            <div class="label">Order Qty</div>
            <div class="value">{{ item.order_quantity }}</div>
          </div>
          <div class="card-list-cell fill-quantity-cell">
            <div class="label">Fill Qty</div>
            <div class="value">{{ item.fill_quantity }}</div>
          </div>
          <div class="card-list-cell">
            <div class="progress-bar">
              <div class="progress-container">
                <div class="progress-fill" [ngStyle]="{
                    width:
                      item.fill_quantity / item.order_quantity | percent
                  }">
                  <div class="progress-label">
                    <strong>{{
                      item.fill_quantity / item.order_quantity | percent
                    }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </eikos-card-list>
  </div>

  <div class="card-list-demo-content"*ngIf="cardView  && !inverseLayout">
    <eikos-card-list [items]="items" [title]="'Card List - Card View'" [listHeight]="450" [cardView]="true"
      (itemSelected)="logItemSelected($event)">
      <ng-template let-item="item">
        <div class="card-list-card">
          <div class="card-list-card-shader" [ngStyle]="{
              'background-color': setHslColor(
                (item.fill_quantity / item.order_quantity) * 100,
                0,
                120
              )
            }">
            <div class="card-list-shader-content">
              <div class="card-list-cell symbol-cell">
                <div class="symbol-status">
                  <div class="symbol">{{ item.symbol }}</div>
                  <div class="status">
                    {{ item.order_price | currency }}
                  </div>
                </div>
              </div>
              <div class="card-list-cell order-fill-cell">
                <div>
                  {{ item.fill_quantity / item.order_quantity | percent }}
                </div>
                <div>
                  {{ item.fill_quantity }}/{{ item.order_quantity }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </eikos-card-list>
  </div>

  <div class="card-list-demo-content" *ngIf="cardView  && inverseLayout">
    <eikos-card-list [items]="items" [title]="'Card List - Inverse Cards'" [listHeight]="450" [cardView]="true"
      [inverseLayout]="true" (itemSelected)="logItemSelected($event)">
      <ng-template let-item="item">
        <div class="card-list-card">
          <div class="card-list-card-shader" [ngStyle]="{
              'background-color': setHslColor(
                (item.fill_quantity / item.order_quantity) * 100,
                0,
                120
              )
            }">
            <div class="card-list-shader-content">
              <div class="card-list-cell symbol-cell">
                <div class="symbol-status">
                  <div class="symbol">{{ item.symbol }}</div>
                  <div class="status">
                    {{ item.order_price | currency }}
                  </div>
                </div>
              </div>
              <div class="card-list-cell order-fill-cell">
                <div>
                  {{ item.fill_quantity / item.order_quantity | percent }}
                </div>
                <div>
                  {{ item.fill_quantity }}/{{ item.order_quantity }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </eikos-card-list>
  </div>
</div>
