<mat-toolbar color="primary" class="page-header mat-elevation-z6">
  <span>NgCatalyst Examples</span>
  <button mat-stroked-button (click)="onclickfn()">Randomize Data</button>
</mat-toolbar>

<div class="flex-container app-body">

  <!-- BAR CHART CONFIGS -->

  <div class="flex-item">
    <eikos-bar-chart [data]="barData" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [propID]="barPropID"
      [colors]="barColors" [title]="barTitle" [xAxisAngle]="axisAngle" [yAxisAngle]="axisAngle" [divHeight]="hundoPct"
      [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)">
    </eikos-bar-chart>
  </div>

  <div class="flex-item">
    <eikos-bar-chart [data]="barDataA" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [colors]="bubbleColors"
      [title]="barTitle" [yAxisAngle]="axisAngle" [divHeight]="hundoPct" [divWidth]="hundoPct"
      (clickEvent)="clickEventEmit($event)" [marker]="'0'">
    </eikos-bar-chart>
  </div>

  <!-- BUBBLE CHART CONFIGS -->

  <div class="flex-item">
    <eikos-bubble-chart [data]="bubbleData" [propID]="bubblePropID" [title]="bubbleTitle" [isTime]="falseVar"
      [isDate]="falseVar" [themeColors]="bubbleColors" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
      [divHeight]="hundoPct" [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)"></eikos-bubble-chart>
  </div>

  <div class="flex-item">
    <eikos-bubble-chart [data]="bubbleData2" [title]="bubbleTitle" [isTime]="falseVar" [isDate]="falseVar"
      [themeColors]="bubbleColors" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [divHeight]="hundoPct"
      [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)"></eikos-bubble-chart>
  </div>

  <!-- CARD LIST CONFIGS -->

  <div class="flex-item">
    <app-eikos-card-list-demo>
    </app-eikos-card-list-demo>
  </div>

  <div class="flex-item">
      <app-eikos-card-list-demo [cardView]=true>
      </app-eikos-card-list-demo>
    </div>

  <!-- HEAT MAP CONFIGS -->

  <div class="flex-item">
    <eikos-heat-map [data]="heatData" [colors]="pieColors" [divHeight]="hundoPct" [divWidth]="hundoPct"
      (clickEvent)="clickEventEmit($event)"></eikos-heat-map>
  </div>

  <div class="flex-item">
    <eikos-heat-map [data]="heatData2" [dataType]="dataType" [colors]="heatColors" [propID]="heatPropID"
      [xAxisAngle]="xAxisAngle" [divHeight]="hundoPct" [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)">
    </eikos-heat-map>
  </div>

  <!-- LINE PLOT CONFIGS -->

  <div class="flex-item">
    <eikos-line-plot [data]="lineDataA" [title]="lineTitle" [colors]="lineColors" [threshold]="threshold"
      [xAxisLabel]="xAxisLabelDate" [yAxisLabel]="yAxisLabel" [divHeight]="hundoPct" [divWidth]="hundoPct">
    </eikos-line-plot>
  </div>

  <div class="flex-item">
    <eikos-line-plot [data]="lineDataB" [propID]="linePropID" [title]="lineTitle" [type]="lineType"
      [xAxisLabel]="'foobar'" [yAxisLabel]="yAxisLabel" [divHeight]="hundoPct" [divWidth]="hundoPct"
      (clickEvent)="clickEventEmit($event)"></eikos-line-plot>
  </div>

  <!-- PIE CHART CONFIGS -->

  <div class="flex-item">
    <eikos-pie-chart [data]="pieData" [donutWidth]="donutWidth" [propID]="piePropID" [colors]="pieColors"
      [title]="pieTitle" [divHeight]="hundoPct" [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)">
    </eikos-pie-chart>
  </div>

  <div class="flex-item">
    <eikos-pie-chart [data]="pieData2" [colors]="bubbleColors" [title]="pieTitle" [divHeight]="hundoPct"
      [divWidth]="hundoPct" (clickEvent)="clickEventEmit($event)">
    </eikos-pie-chart>
  </div>

  <!-- PUNCH CARD CONFIGS -->

  <div class="flex-item">
    <eikos-punch-card [data]="punchData" [propID]="punchPropID" [colors]="punchColors" [title]="punchTitle"
      [axisColors]="axisColor" (clickEvent)="clickEventEmit($event)" [divHeight]="hundoPct" [divWidth]="hundoPct">
    </eikos-punch-card>
  </div>

  <div class="flex-item">
    <eikos-punch-card [data]="punchData2" [colors]="punchColors" [title]="punchTitle" [axisColors]="axisColor"
      (clickEvent)="clickEventEmit($event)" [divHeight]="hundoPct" [divWidth]="hundoPct"></eikos-punch-card>
  </div>

  <!-- SUNBURST CONFIGS -->

  <div class="flex-item">
    <eikos-sunburst [data]="sunburstData" [propID]="sunburstPropID" [title]="sunburstTitle" [divHeight]="hundoPct"
      [divWidth]="hundoPct"></eikos-sunburst>
  </div>

  <div class="flex-item">
    <eikos-sunburst [data]="sunburstData2" [title]="sunburstTitle" [divHeight]="hundoPct" [divWidth]="hundoPct">
    </eikos-sunburst>
  </div>

</div>