// * {
//   font-family: "Arial", "Helvetica", sans-serif;
// }

.page-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  &.app-body {
    padding: 64px 40px 40px;
  }
  .flex-item {
    box-sizing: border-box;
    width: 50%;
    height: 500px;
    overflow: hidden;
  }
}

@media (max-width: 900px) {
  .flex-container {
    flex-flow: row wrap;
    .flex-item {
      width: 100%;
    }
  }
}
